<import template="/panel/_head" />
<php>
    $openNode = \Helper\Stats::countNode(1);
    $allNode = \Helper\Stats::countNode()
</php>
<body class="page-body">
<div class="modal fade" id="modal-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Note</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="page-loading-overlay">
    <div class="loader-2"></div>
</div>
<div class="settings-pane">
    <a href="javascript:;" data-toggle="settings-pane" data-animate="true">&times;</a>
    <div class="settings-pane-inner">
        <div class="row">
            <div class="col-md-6">
                <div class="user-info">
                    <div class="user-image">
                        <a href="/member">
                            <img src="{(\Helper\Utils::gravatar($user->email))}" class="img-responsive img-circle" />
                        </a>
                    </div>
                    <div class="user-details">
                        <h3>
                            <a href="/member">{$user->nickname}</a>
                            <!-- Available statuses: is-online, is-idle, is-busy and is-offline -->
                            <span class="user-status is-online"></span>
                        </h3>
                        <p class="user-title">Joined: {(date('Y-m-d H:i:s', $user->regDateLine))}</p>
                        <div class="user-links">
                            <a href="/member/info" class="btn btn-primary">View profile</a>
                            <a href="/auth/logout" class="btn btn-success">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 link-blocks-env">
                <div class="links-block left-sep">
                    <h4>
                        <a href="javascript:;">
                            <span>Help</span>
                        </a>
                    </h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href="Support/Tos">
                                <i class="fa-angle-right"></i>
                                Support Center
                            </a>
                        </li>
                        <li>
                            <a href="/member/feedback">
                                <i class="fa-angle-right"></i>
                                Submit a question
                            </a>
                        </li>
                        <li>
                            <a href="Support/Tos">
                                <i class="fa-angle-right"></i>
                                Use Agreement
                            </a>
                        </li>
                        <li>
                            <a href="Support/Tos">
                                <i class="fa-angle-right"></i>
                                Terms of Service
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-container">
    <div class="sidebar-menu toggle-others fixed">
        <div class="sidebar-menu-inner">
            <header class="logo-env">
                <!-- logo -->
                <div class="logo">
                    <a href="index" class="logo-expanded">
                        <img src="{RESOURCE}/images/logo@2x.png" width="80" alt="" />
                    </a>
                    <a href="index" class="logo-collapsed">
                        <img src="{RESOURCE}/images/logo-collapsed@2x.png" width="40" alt="" />
                    </a>
                </div>
                <div class="mobile-menu-toggle visible-xs">
                    <a href="javascript:;" data-toggle="user-info-menu">
                        <i class="fa-bell-o"></i>
                        <span class="badge badge-success"></span>
                    </a>
                    <a href="javascript:;" data-toggle="mobile-menu">
                        <i class="fa-bars"></i>
                    </a>
                </div>
                <div class="settings-icon">
                    <a href="javascript:;" data-toggle="settings-pane" data-animate="true">
                        <i class="fa fa-cog"></i>
                    </a>
                </div>
            </header>
            <ul id="main-menu" class="main-menu">
                <li class="{(\Helper\Utils::menuActive('member', 'opened'))}">
                <a href="/member" class="pjax">
                    <i class="fa fa-desktop"></i>
                    <span class="title">Dashboard</span>
                </a>
                </li>
                <li class="{(\Helper\Utils::menuActive('node'))}">
                    <a href="/member/node" class="pjax">
                        <i class="fa fa-server"></i>
                        <span class="title">Node Manager</span>
                        <span class="label label-success pull-right">{$openNode}/{$allNode}</span>
                    </a>
                </li>
                <li class="{(\Helper\Utils::menuActive('info'))}">
                    <a href="/member/info" class="pjax">
                        <i class="fa fa-user"></i>
                        <span class="title">Profile</span>
                    </a>
                </li>
                <li class="{(\Helper\Utils::menuActive('Change|actCard', ' opened expanded'))} has-sub">
                    <a href="javascript:;">
                        <i class="fa fa-pencil"></i>
                        <span class="title">Modify profile</span>
                    </a>
                    <ul>
                        <li class="{(\Helper\Utils::menuActive('ChangePassword'))}">
                            <a href="/member/changePassword" class="pjax">
                                <span class="title">Change Password</span>
                            </a>
                        </li>
                        <li class="{(\Helper\Utils::menuActive('ChangeNickname'))}">
                            <a href="/member/changeNickname" class="pjax">
                                <span class="title">Modify nickname</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://cn.gravatar.com/" target="_blank" title="Gravatar - Universal avatar">
                                <span class="title">Modify avatar</span>
                            </a>
                        </li>
                        <li class="{(\Helper\Utils::menuActive('ChangePlan'))}">
                            <a href="/member/changePlan" class="pjax">
                                <span class="title">Change Plan</span>
                            </a>
                        </li>
                        <li class="{(\Helper\Utils::menuActive('actCard'))}">
                            <a href="/member/actCard" class="pjax">
                                <span class="title">Recharge card number</span>
                            </a>
                        </li>
                        <li class="{(\Helper\Utils::menuActive('ChangeMethod'))}">
                            <a href="/member/changeMethod" class="pjax">
                                <span class="title">Custom Node Encryption</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="{(\Helper\Utils::menuActive('invite'))}">
                    <a href="/member/invite" class="pjax">
                        <i class="fa fa-heart"></i>
                        <span class="title">Invite Friends</span>
                    </a>
                </li>
                <li class="{(\Helper\Utils::menuActive('order|support', ' opened expanded'))} has-sub">
                    <a href="javascript:;">
                        <i class="fa fa-paper-plane"></i>
                        <span class="title">Service Support</span>
                    </a>
                    <ul>
                        <!-- not support
                        <li>
                            <a href="/order" title="购买卡号，套餐，各项升级服务，或充值账户余额">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="title">购买服务</span>
                            </a>
                        </li>
                        <li>
                            <a href="/support/ticket" title="Ticket · Services">
                                <i class="fa fa-ticket"></i>
                                <span class="title">工单服务</span>
                            </a>
                        </li>
                        -->
                        <li><a href="/support/tos">
                            <i class="fa fa-paper-plane-o"></i>
                            <span class="title">TOS {SITE_NAME}</span>
                        </a>
                        </li>
                    </ul>
                </li>
                <if condition="$user->isAdmin()">
                <li>
                    <a href="/admin">
                        <i class="fa fa-cogs"></i>
                        <span class="title">Administrator background</span>
                    </a>
                </li>
                </if>
            </ul>
        </div>
    </div>
