<import template="/panel/_header" />
<import template="/panel/_content" />
<div class="page-title">

    <div class="title-env">
        <h1 class="title">Custom encryption</h1>
        <p class="description">Custom node encryption, valid only allows custom node</p>
    </div>

    <div class="breadcrumb-env">
        <ol class="breadcrumb bc-1">
            <li>
                <a href="/member"><i class="fa-home"></i>Home</a>
            </li>
            <li>
                <a href="javascript:;">Custom information</a>
            </li>
            <li class="active">
                <strong>Custom encryption</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-angle-right"></i>&nbsp;Edit custom encryption
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="method-old" class="control-label">Original encryption:</label>
                    <input type="text" class="form-control disabled" id="method-old" value="{$user->method}" disabled="disabled">
                    <label for="method-new" class="control-label">New encryption methods:</label>
                    <select class="form-control" id="method-new" data-value="">
                        <option value="-1">Do not use a custom encryption</option>
                        <option value="rc4-md5">rc4-md5</option>
                        <option value="aes-256-cfb">aes-256-cfb</option>
                        <option value="aes-192-cfb">aes-192-cfb</option>
                        <option value="aes-128-cfb">aes-128-cfb</option>
                        <option value="chacha20">chacha20</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-info btn-block" id="submit-method">OK - Modify</button>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-angle-right"></i>&nbsp;Currently supports custom encryption node
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <if condition="count($nodeList)>0"><loop variable="$nodeList" key="$key" value="$node"><i class="fa fa-server" aria-hidden="true"></i> &nbsp; {$node->name}<br/></loop><else>No</if>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        var method = '{$user->method}';
        if(method) {
            $("#method-new").val(method);
        } else {
            $("#method-new").val('-1');
            $("#method-old").val('Do not use a custom encryption');
        }

        $("#submit-method").click(function(){
            var but = $(this);
            var method_new = $("#method-new").val();
            if(method_new == null || method_new == '') {
                showToastr("You do not want to fill change really okay?", 0, 2000);
                return;
            }
            but.attr('disabled', 'true').addClass('disabled');
            $.ajax({
                type:"POST",
                url:"/member/changeMethod.json",
                data:{method:$("#method-new").val()},
                dataType:"json",
                success:function(result){
                    but.removeAttr('disabled').removeClass('disabled');
                    if(result.code != 200) {
                        showToastr(result.message, 0);
                        return;
                    }
                    showToastr(result.data.message, 0);
                    if($("#method-new").val() == '-1') {
                        $("#method-old").val('Do not use a custom encryption');
                    } else {
                        $("#method-old").val($("#method-new").val());
                    }
                },
                error:function(jqXHR){
                    showToastr("An error occurred:"+jqXHR.status, 0);
                    but.removeAttr('disabled').removeClass('disabled');
                }
            })
        });
    });
    //nickname-new
</script>
<import template="/panel/_footer" />