<import template="/panel/_header" />
<import template="/panel/_content" />
<div class="page-title">

    <div class="title-env">
        <h1 class="title">User Center</h1>
        <p class="description">Personal information, user information, etc...</p>
    </div>

    <div class="breadcrumb-env">
        <ol class="breadcrumb bc-1">
            <li>
                <a href="/member"><i class="fa-home"></i>Home</a>
            </li>
            <li>
                <a href="javascript:;">My information</a>
            </li>
            <li class="active">
                <strong>Upgrade accounts</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-angle-right"></i>&nbsp;Renewals / Upgrades
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <p>nickname: {$user->nickname}</p>
                    <p>Accounts: {$user->email}</p>
                    <p>Package:<span class="label label-info">{$user->getPlan()}</span> </p>
                    <p>Account balance: <span id="money">{$user->money}</span> yuan </p>
                    <hr/>
                    <p>Your total flow: {(\Helper\Utils::flowAutoShow($user->transfer))}</p>
                    <p>Available flow: <span id="slaTransfer">{(\Helper\Utils::flowAutoShow($user->transfer - ($user->flow_up+$user->flow_down)))}</span></p>
                    <p>Used Flow: <span id="useTransfer">{(\Helper\Utils::flowAutoShow($user->flow_up+$user->flow_down))}</span></p>
                    <p><a class="btn btn-info" href="javascript:;" id="updatePlan">Upgrade Account Level</a>&nbsp;&nbsp;<a class="btn btn-info" href="javascript:;" id="buyTransfer">Temporary increase in traffic (1 million / G)</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#updatePlan").on('click', function(){
            var btn = $(this);
            btn.html("Please wait");
            btn.attr('disabled', 'true').addClass("disabled");
            $.ajax({
                type:"GET",
                url:"/member/updatePlan.json",
                dataType:"json",
                success:function(result){
                    btn.removeAttr('disabled').removeClass("disabled").html("Upgrade Account Level");
                    if(result.code != 200) {
                        showToastr(result.message, 0, 3000, 'system error');
                        return;
                    }
                    showToastr(result.data.message, 0);
                },
                error:function(jqXHR){
                    showToastr("An error occurred:"+jqXHR.status, 0);
                }
            });
        });
        $("#buyTransfer").on('click', function(){
            var btn = $(this);
            btn.html("Please wait");
            btn.attr('disabled', 'true').addClass("disabled");
            $.ajax({
                type:"GET",
                url:"/member/buyTransfer.json",
                dataType:"json",
                success:function(result){
                    btn.removeAttr('disabled').removeClass("disabled").html("A temporary increase in traffic (1 million / G)");
                    if(result.hasError == true) {
                        showToastr(result.message, 0, 3000, 'system error');
                        return;
                    }
                    if(result.data != null) {
                        showToastr(result.data.message, 0);
                        $("#useTransfer").text(result.data.useTransfer);
                        $("#slaTransfer").text(result.data.slaTransfer);
                        $("#money").text(result.data.money);
                    }
                },
                error:function(jqXHR){
                    showToastr("An error occurred:"+jqXHR.status, 0);
                }
            });
        });
    });
</script>
<import template="/panel/_footer" />