<import template="/panel/_header" />
<import template="/panel/_content" />
<div class="page-title">

    <div class="title-env">
        <h1 class="title">User Center</h1>
        <p class="description">Personal information, user information, etc...</p>
    </div>

    <div class="breadcrumb-env">
        <ol class="breadcrumb bc-1">
            <li>
                <a href="/member"><i class="fa-home"></i>Home</a>
            </li>
            <li>
                <a href="javascript:;">User Center</a>
            </li>
            <li class="active">
                <strong>Profile</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-angle-right"></i>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <p>Username: {$user->nickname}</p>
                    <p>Mailbox: {$user->email}&nbsp;<if condition="$is_verification">&nbsp;&nbsp; You e-mail is not verified（<a href="javascript:;" id="resend_verification">Resend verification code</a>）<else>(The Email Address Verified)</if></p>
                    <p>Package: <span class="label label-info">{$user->getPlan()}</span>
                        <if condition="$user->plan == 'A'">
                            &nbsp;&nbsp;You are free to experience account, the traffic will not be reset every month, you can upgrade to the Member's account quota increase traffic.
                        </if>
                    </p>
                    <p>Account Balance: {$user->money} yuan </p>
                    <p><button class="btn btn-danger btn-sm" id="deleteMe">Delete my account</button></p>
                    <div class="form-block">
                        <input type="checkbox" checked class="iswitch">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#deleteMe").on('click', function(){
        var flag = confirm("Really you want to delete it? This operation gone oh ~");
        if(flag) {
            $(".main-content").fadeTo('slow',0.6);
            $.ajax({
                url: "/member/deleteMe.json",
                type: "POST",
                data: {"delete": 1},
                dataType: "json",
                success: function(result) {
                    if(result.code != 200) {
                        showToastr(result.message, 0, 'system error');
                        return;
                    }
                    if(result.data.error == 0) {
                        showToastr(result.data.message, 0);
                        setTimeout('window.location.href="/auth/login#login"', 3000);
                    } else {
                        showToastr('Sorry, the server sister paper seems reluctant to you, or you try again? (failed to delete)', 0);
                        $(".main-content").fadeTo('slow', 1);
                    }
                },
                error: function(Xhr) {
                    showToastr('Requests the server fails', 0);
                    $(".main-content").fadeTo('slow', 1);
                }
            });
        }
    });
    $("#resend_verification").on('click', function(){
        var but = $(this);
        but.attr("disabled", "disabled").html("60 seconds to send");
        $.ajax({
            url: "/auth/resend.json",
            type: "POST",
            data: {"auth": 'y'},
            dataType: "json",
            success: function(result) {
                if(result.code != 200) {
                    showToastr(result.message, 0, 'system error');
                    return;
                }
                if(result.data.error == 0) {
                    showToastr(result.data.message, 0);
                    setTimeout('but.removeAttr("disabled").html("Resend verification code");', 55000);
                } else {
                    showToastr('Failure sending mail', 0);
                }
            },
            error: function(Xhr) {
                showToastr('Requests the server fails', 0);
                $(".main-content").fadeTo('slow', 1);
            }
        });

    });
</script>
<import template="/panel/_footer" />