<import template="/panel/_header" />
<import template="/panel/_content" />
<div class="row">
    <div class="col-sm-3">

        <div class="xe-widget xe-counter" data-count=".num" data-from="0" data-to="99.9" data-suffix="%"
             data-duration="2">
            <div class="xe-icon">
                <i class="fa fa-cloud"></i>
            </div>
            <div class="xe-label">
                <strong class="num">99.9%</strong>
                <span>Server Uptime</span>
            </div>
        </div>

        <div class="xe-widget xe-counter xe-counter-purple" data-count=".num">
            <div class="xe-icon">
                <i class="fa-calendar"></i>
            </div>
            <div class="xe-label">
                <!-- reset -->

                <div id="checkin-on" <if condition="!$checked">style="display:none;"</if> >
                <strong>
                    <a id="checkin" href="javascript:;" style="color:#000;">Click to sign in</a>
                </strong>
                <span id="checkin-tag">Get traffic sign</span>
            </div>
            <div id="checkin-off" <if condition="$checked">style="display:none;"</if> >
            <strong>
                <div id="checkinoff">You've checked in</div>
            </strong>
            <span id="checkinoff-tag">{$checkedTime}</span>
        </div>
    </div>
</div>

<div class="xe-widget xe-counter xe-counter-info" data-count=".num" data-from="1" data-to="{$allNode}" data-duration="1"
     data-easing="true">
    <div class="xe-icon">
        <i class="fa fa-server"></i>
    </div>
    <div class="xe-label">
        <strong class="num">{$allNode}</strong>
        <span>Active nodes</span>
    </div>
</div>

</div>
<div class="col-sm-6">

    <div class="chart-item-bg">
        <div class="chart-label">
            <div class="h3 text-secondary text-bold" data-count="this" data-from="0" data-to="{$useTransfer}" data-suffix="{$useTransferUnit}" data-duration="1">{$useTransfer} {$useTransferUnit}</div>
            <span class="text-medium text-muted">Data usage</span>
        </div>
        <div class="progress progress-striped active" style="height: 20px;position: absolute;left:30px;right:30px;top:30%">
            <div class="progress-bar progress-bar-info" style="width: {$pctTransfer}%;height:20px;"></div>
        </div>
        <div style="position: absolute;left:30px;right:30px;top:40%">Total traffic：{$allTransfer}<br/>Available flow: {$slaTransfer}<br/><br/>Your current IP: <code>{$userIp}</code><br/>Your Region:<code id="country_id">Get in.</code><br/>
            <h2><a href="support/help" target="_blank">Tutorial&gt;&gt;</a></h2>
        </div>
        <div  style="height: 298px;">

        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="chart-item-bg">
        <div class="chart-label chart-label-small">
            <div class="h4 text-purple text-bold" data-count="this" data-from="0.00" data-to="{$onlineNum}" data-suffix="%" data-duration="1.5">{$onlineNum}%</div>
            <span class="text-small text-upper text-muted">Percentage Online</span><br />
            <span class="text-small text-upper text-muted">Registered user：<code> {$userCount} </code><br/>Number of check-ins：<code> {$checkCount} </code><br/></span>
            <span class="text-small text-upper text-muted">Real-time online：<code> {$online} </code><br/></span>
        </div>
        <div id="server-uptime-chart" style="height: 134px;"></div>
    </div>

    <div class="chart-item-bg">
        <div class="chart-label chart-label-small">
            <div class="h4 text-secondary text-bold" data-count="this" data-from="0.00" data-to="{$systemTransfer}" data-suffix="GB" data-decimal="." data-duration="2">{$systemTransfer}</div>
            <span class="text-small text-upper text-muted">{SITE_NAME} is generated <code>{$systemTransfer}</code>GB traffic</span><br />
            <span class="text-small text-upper text-muted">{SITE_NAME} already have<code>{$useUserCount}</code>users</span>
        </div>

        <div id="sales-avg-chart" style="height: 134px; position: relative;">
            <div style="position: absolute; top: 25px; right: 0; left: 40%; bottom: 0"></div>
        </div>

    </div>

</div>
</div>


<div class="row">
    <div class="col-sm-6">

        <div class="chart-item-bg">
            <div class="chart-entry-view">
                <div class="chart-entry-label">
                    <if condition="count($globalMessage)>0">
                        <span>{$globalMessage[1]->content}</span><br/>
                    </if>
                    <!-- Download and administrators to modify content on their own -->
                    <p>Win Client：1.<a href="http://h.mloli.com/shadowsocks/Shadowsocks-3.0.zip" target="_blank">SS-CSharp_3.0</a>&nbsp;&nbsp;&nbsp;
                        2.<a href="https://github.com/shadowsocks/shadowsocks-windows/releases/latest" target="_blank">Github</a>
                        <br>Android Client：1.<a href="http://h.mloli.com/shadowsocks/shadowsocks-nightly-2.10.3.apk" target="_blank">SS-Android_2.10.3.apk</a>&nbsp;&nbsp;&nbsp;
                        2.<a href="https://play.google.com/store/apps/details?id=com.github.shadowsocks" target="_blank">Play Store</a></p>
                    For more platform visit site <a href="http://h.mloli.com/shadowsocks/" target="_blank"> [Download Center] </a>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-6">

        <div class="chart-item-bg">
            <div class="chart-label">
                <div  class="h1 text-purple text-bold">Connection information</div>
                port：<code>{$user->port}</code><br />
                passwort：<div id="showpwd" style="display: inline"><b>Click to show password</b></div><br />
                <button class="btn btn-sm btn-info" id="plan-level">{$user->getPlan()}</button>   &nbsp;
                <button class="btn btn-sm btn-secondary" id="updatePlan"> Upgrade Package </button>   &nbsp;
                <button class="btn btn-sm btn-secondary" id="planList"> Package Details </button><br /><br />
                Last time: <code>{$lastOnlineTime}</code>

            </div>
            <div style="height: 200px"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        <php>
            $update = \Helper\Updater::getInstance();
            $message = $update->check();
            if($message !== false) {
                echo "showToastr(\"".$message."\", 0);";
            }
            $user_json = json_decode($user->forgePwdCode, true);
            if($user_json['verification']!=null && $user->enable == 0) {
                echo "showToastr(\"您的账户尚未校验邮箱，暂时无法使用本站服务，请校验后重新登陆。\", 0);";
            }
        </php>
        $("#checkin").click(function() {
            var chkin = $(this);
            chkin.text("Please wait");
            showToastr("Requesting sign .. Please wait", 0, 1500);
            var checkInUrl = chkin.attr("href");
            chkin.removeAttr("href").addClass("disabled");
            $.ajax({
                type:"GET",
                url:"/member/checkIn.json",
                dataType:"json",
                success:function(result) {
                    chkin.text("Click to sign in");
                    if(result.code != 200) {
                        chkin.removeClass("disabled").attr("href", checkInUrl);
                        showToastr(result.message, 0, 3000, 'system error');
                        return;
                    }
                    if(result.data.error == 0) {
                        $("#checkin-on").hide();
                        $("#checkin-off").show();
                        $("#checkinoff-tag").html(result.data.time);
                    }
                    showToastr(result.data.message, 0);
                },
                error:function(jqXHR) {
                    chkin.removeClass("disabled").attr("href", checkInUrl);
                    showToastr("An unknown error occurred. Please try again or contact your administrator", 0);
                }
            });
        });
        $("#updatePlan").on('click', function(){
            var btn = $(this);
            btn.html("Please wait");
            btn.attr('disabled', 'true').addClass("disabled");
            $.ajax({
                type:"GET",
                url:"/member/updatePlan.json",
                dataType:"json",
                success:function(result) {
                    btn.removeAttr('disabled').removeClass("disabled").html("Upgrade Package");
                    if(result.code != 200) {
                        showToastr(result.message, 0, 3000, 'system error');
                        return;
                    }
                    if(result.data.error == 0) {
                        $("#plan-level").html(result.data.level);
                    }
                    showToastr(result.data.message, 0);
                },
                error:function(jqXHR) {
                    btn.removeAttr('disabled').removeClass("disabled").html("Upgrade Package");
                    showToastr("An error occurred:" + jqXHR.status, 0);
                }
            });
        });
        $("#showpwd").on('click', function() {
            if ($(this).html() == "<b>Click to show password</b>") {
                $(this).html("{$user->sspwd}");
            } else {
                $(this).html("<b>Click to show password</b>");
            }
        });
        <if condition="$globalMessage[3]!=null && $globalMessage[3]->enable==1">
            showToastr("{$globalMessage[3]->content}", 800);
        </if>

        $("#planList").on('click', function(){
            <if condition="$globalMessage[2]!=null && $globalMessage[2]->enable==1">
                $("#modal-1 .modal-body").html("{$globalMessage[2]->content}");
            <else>
                $("#modal-1 .modal-body").html("Administrator is not set Content..");
            </if>

            $("#modal-1").modal("show", {backdrop:"fade"});
        });
        $.get("/api/queryCountry.json",{}, function(data){
            var flag = data.code;
            var desc = "";
            if(flag == "0") {
                if(data.data.country != '' && data.data.country != undefined){
                    desc += data.data.country;
                }
                if(data.data.area != '' && data.data.area != undefined){
                    desc += " " + data.data.area;
                }
                if(data.data.region != '' && data.data.region != undefined){
                    desc += " " + data.data.region;
                }
                if(data.data.city != '' && data.data.city != undefined){
                    desc += " " + data.data.city;
                }
                if(data.data.county != '' && data.data.county != undefined) {
                    desc += " " + data.data.county;
                }
                if(data.data.isp != '' && data.data.isp != undefined) {
                    desc += " " + data.data.isp;
                }
                if(desc == "" || desc == undefined)
                    desc = "unknown";
            } else {
                desc = "unknown";
            }

            $("#country_id").html(desc);
        },"json");
    });
</script>
<import template="/panel/_footer" />