<import template="/admin/_header"/>
<import template="/admin/_content"/>

<div class="page-title">
    <div class="title-env">
        <h1 class="title">Card Management</h1>
        <p class="description">Package card activation card, try the card, the card ... packet traffic management center!</p>
    </div>
    <div class="breadcrumb-env">
        <ol class="breadcrumb bc-1">
            <li><a href="/admin"><i class="fa-home"></i>Management side</a></li>
            <li><a href="/admin/invite">Card Management</a></li>
        </ol>
    </div>
</div>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>

                        <div class="panel-options">
                            <a href="javascript:;" id="card-add"><span>+</span></a>
                            <a href="javascript:;" data-toggle="reload">
                                <i class="fa-rotate-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                                <tbody>
                                <tr>
                                    <th>#</th>
                                    <th>card number</th>
                                    <th>add time</th>
                                    <th>Types of</th>
                                    <th>parameter</th>
                                    <th>Effective time</th>
                                    <th>status</th>
                                    <th width="150px">Option</th>
                                </tr>
                                <if condition="count($cardList) > 0">
                                    <loop variable="$cardList" key="$key" value="$card">
                                        <tr id="card-{$card->id}">
                                            <td>#{$card->id}</td>
                                            <td>{$card->card}</td>
                                            <td>{(date("Y-m-d H:i:s", $card->add_time))}</td>
                                            <td><if condition="$card->type == 0">Package card<elseif condition="$card->type == 1">Traffic Cards<elseif condition="$card->type == 2">Trial postponed Cards<elseif condition="$card->type == 3">Balance card<else>Universal Card</if></td>
                                            <td>{$card->info}</td>
                                            <td>
                                                <if condition="$card->type == 0">{$card->expireTime}
                                                    <else> -
                                                </if>
                                            </td>
                                            <td>
                                                <if condition="$card->status == 1">Unused
                                                    <else>used
                                                </if>
                                            </td>
                                            <td>
                                                <a class="btn btn-info btn-sm" href="javascript:;"
                                                   onclick="cardModify('{$card->id}');">edit</a>
                                                <a class="btn btn-danger btn-sm" href="javascript:;"
                                                   onclick="cardRemove('{$card->id}');">delete</a>
                                            </td>
                                        </tr>
                                    </loop>
                                    <else>
                                        <tr id="card-0">
                                            <td>#</td>
                                            <td colspan="6">Not the card number</td>
                                        </tr>
                                </if>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
</section>
</div>
</div>
<!-- Modal 6 (Long Modal)-->
<div class="modal fade" id="modal-6">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <form role="form" id="card_form" method="post" action="/admin/card/update.json" class="validate">
                <input type="hidden" name="form_add" value="{(time())}"/>
                <input type="hidden" name="card" id="card" value=""/>
                <div class="modal-body">
                    <div id="modal-isload">Content is loading...</div>
                    <div id="modal-isbody" style="display: none;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="card_no" class="control-label">Card number (only allows the system to generate)</label>

                                    <input type="text" class="form-control" name="card_no" id="card_no" value=""
                                           readonly placeholder="Only allows the system to generate">
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="card_type" class="control-label">card type</label>
                                    <select name="card_type" id="card_type" class="form-control">
                                        <option value="0">Package card（A/B/C/D/VIP）</option>
                                        <option value="1">Traffic Cards</option>
                                        <option value="2">Trial postponed Cards</option>
                                        <option value="3">Balance card</option>
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="card_info" class="control-label">Additional parameters</label>
                                    <input type="text" class="form-control" name="card_info" id="card_info" value="C"
                                           placeholder="C" >
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="card_exp" class="control-label">Package is valid</label>
                                    <input type="number" class="form-control" name="card_exp" id="card_exp" value="30"
                                           placeholder="30" data-message-required="Package is valid">
                                </div>

                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6" id="is-add">
                                <div class="form-group">
                                    <label for="card_num" class="control-label">Card Number</label>
                                    <input type="number" class="form-control" name="card_num" id="card_num" value="1"
                                           placeholder="1" data-message-required="Card Number.">
                                </div>
                            </div>
                            <div class="col-md-6" style="display: none;" id="is-modify">
                                <div class="form-group">
                                    <label for="card_status" class="control-label">is it effective</label>
                                    <select class="form-control" name="card_status" id="card_status">
                                        <option value="1">effective</option>
                                        <option value="0">Fail</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    * [Additional parameters]
                                    <br/>
                                    Card Package: Package Type / Traffic Cards: Flow(GB) / Trial card: the number of days / Balance card: recharge amount (yuan)
                                    <br/><br/>
                                    * [Package is valid] Package card only take effect(Unit Days)
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Save now</button>
                </div>
            </form>
        </div>

    </div>
</div>
<script type="text/javascript">
    var modal_default_body = jQuery('#modal-6 .modal-body').html();
    jQuery(document).ready(function($) {

        $("form#card_form").validate({
            rules: {
                'card_info': "required",
                'number': "required"
            },
            messages: {
                'card_info': "Additional information must be filled",
                'number': "Number Required"
            },
            errorElement: 'span',
            errorClass: 'validate-has-error',
            highlight: function (element) {
                $(element).closest('.form-group').addClass('validate-has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('validate-has-error');
            },
            errorPlacement: function (error, element)
            {
                if(element.closest('.has-switch').length)
                {
                    error.insertAfter(element.closest('.has-switch'));
                }
                else {
                    if(element.parent('.checkbox, .radio').length || element.parent('.input-group').length)
                    {
                        error.insertAfter(element.parent());
                    }
                    else
                    {
                        error.insertAfter(element);
                    }
                }
            },
            submitHandler: function(form) {
                $.ajax({
                    url: form.action,
                    method: "POST",
                    dataType: "json",
                    data: $(form).serialize(),
                    success: function(result){
                        if(result.code != 200) {
                            showToastr(result.message, 0, 3000, 'system error');
                            return;
                        }
                        if(result.data.error == 0) {
                            changeTable(result.data.card);
                            $('#modal-6').modal('hide');
                        }
                        showToastr(result.data.message, 0);

                    },
                    error: function(Xhr){
                        showToastr("An unknown error occurred, please try again", 0);
                    }
                });
            }
        });

        $("#card-add").on('click', function(){
            $("#modal-6 .modal-body").html(modal_default_body);
            $("input[name='card']").val('');
            $("input[name='card_no']").val('');
            $("#card_type").val(0);
            $("#is-modify").hide().val(0);
            $("#is-add").show();
            $('#modal-6 .modal-title').html('New Card');
            $('#modal-6').modal('show', {backdrop: 'static'});
            reset(true);

        });
    });

    function cardRemove(cardId) {
        $.ajax({
            url: "/admin/card/delete.json",
            method: "POST",
            dataType: "json",
            data: {id: cardId},
            success: function(result){
                if(result.code != 200){
                    showToastr(result.message, 0, 3000, 'system error');
                    return;
                }
                if(result.data.error == 0) {
                    $("#card-" + cardId).remove();
                }
                showToastr(result.data.message, 0);
            },
            error: function(Xhr){
                showToastr("An unknown error occurred, please try again", 0);
            }
        });
    }
    function cardModify(cardId) {
        $("#modal-6 .modal-body").html(modal_default_body);
        reset(false);
        $.ajax({
            url: "/admin/card/query.json",
            method: "POST",
            dataType: "json",
            data: {id: cardId},
            success: function (result) {
                if(result.code != 200){
                    $('#modal-6').modal('hide');
                    showToastr(result.message, 0, 3000, 'system error');
                    return;
                }

                if(result.data.error != 1 && result.data.card != null) {
                    var card = result.data.card;
                    $("input[name='card']").val(card.id);
                    $("input[name='card_no']").val(card.card);
                    $("#card_type").val(card.type);
                    $("input[name='card_info']").val(card.info);
                    $("select[name='card_status']").val(card.status);
                    $("input[name='card_exp']").val(card.expireTime);
                    $("#is-modify").show().val(0);
                    $("#is-add").hide();
                    $('#modal-6 .modal-title').html('Modify Card');
                    reset(true);
                }
            },
            error: function (Xhr) {
                showToastr("An unknown error occurred, please try again", 0);
            }
        });
        $('#modal-6').modal('show', {backdrop: 'static'});
    }

    function changeTable(data) {
        if($("tr#card-" + data.id).html() != undefined) {
            var newData =  "<td>#" + data.id + "</td>";
            newData += "<td>"  + data.card + "</td>";
            newData += "<td>" + data.add_time + "</td>";
            newData += "<td>" + data.type + "</td>";
            newData += "<td>" + data.info + "</td>";
            if(data.type == "0" || data.type == "Package card") {
                newData += "<td>" + data.expireTime + "</td>";
            } else {
                newData += "<td> - </td>";
            }
            newData += "<td>" + data.status + "</td>";
            newData += "<td>" + '<a class="btn btn-info btn-sm" href="javascript:;" onclick="cardModify('+data.id+');"> edit</a>' + '<a class="btn btn-danger btn-sm" href="javascript:;" onclick="cardRemove('+data.id+');">delete</a>' + "</td></tr>";
            $("tr#card-" + data.id).html(newData);
        } else {
            /* New */
            var trCount = $("table tbody").children("tr").length;
            var cardNumber = data.length;
            var newData = '';
            for(var i=0;i<cardNumber; ++i) {
                newData += '<tr id="card-"'+data[i].id+'>';
                newData += "<td>#" + data[i].id + "</td>";
                newData += "<td>"  + data[i].card + "</td>";
                newData += "<td>" + data[i].add_time + "</td>";
                newData += "<td>" + data[i].type + "</td>";
                newData += "<td>" + data[i].info + "</td>";
                if(data[i].type == "0" || data[i].type == "Package card") {
                    newData += "<td>" + data[i].expireTime + "</td>";
                } else {
                    newData += "<td> - </td>";
                }
                newData += "<td>" + data[i].status + "</td>";
                newData += "<td>" + '<a class="btn btn-info btn-sm" href="javascript:;" onclick="cardModify('+data[i].id+');">edit</a>' + '<a class="btn btn-danger btn-sm" href="javascript:;" onclick="cardRemove('+data[i].id+');">delete</a>' + "</td></tr>";
            }
            $("table tbody").append(newData);
            if($("#card-0").html() != undefined) $("#card-0").remove();
        }
    }
</script>
<import template="/admin/_footer"/>