<import template="/admin/_header" />
<import template="/admin/_content" />

<div class="page-title">
    <div class="title-env">
        <h1 class="title">User Management</h1>
        <p class="description">User list!</p>
    </div>
    <div class="breadcrumb-env">
        <ol class="breadcrumb bc-1">
            <li><a href="/admin"><i class="fa-home"></i>Management side</a></li>
            <li><a href="/admin/user">User Management</a></li>
        </ol>
    </div>
</div>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>

                        <div class="panel-options">
                            <a href="javascript:;" data-toggle="reload">
                                <i class="fa-rotate-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="table-responsive">
                                <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th width="90px">Port</th>
                                        <th width="160px">Username</th>
                                        <th>Email</th>
                                        <th>Package</th>
                                        <th>Used / total flow</th>
                                        <th>Expire date</th>
                                        <th width="150px">Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>


                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="dataTables_info" id="dataTables_info">显示 1 - 10 共 57 条数据</div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="dataTables_paginate paging_simple_numbers" style=" float: right;margin: 0">
                                        <ul class="pagination">
                                            <li class="paginate_button previous disabled" tabindex="0"><a href="javascript:;">Previous</a></li>
                                            <li class="paginate_button active" tabindex="0"><a href="javascript:;">1</a></li>
                                            <li class="paginate_button next disabled" tabindex="0"><a href="javascript:;">Next Page</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->


        </div>
    </div>
</section>
</div>
</div>
<!-- Modal 6 (Long Modal)-->
<div class="modal fade" id="modal-6">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modify user information</h4>
            </div>
            <form role="form" id="form1" method="post" action="/admin/user/update.json" class="validate">
                <input type="hidden" name="form_add" value="{(time())}"/>
                <input type="hidden" name="user.uid" id="uid" value=""/>
                <div class="modal-body">
                    <div id="modal-isload">Content is loading...</div>
                    <div id="modal-isbody" style="display: none;">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="field-1" class="control-label">nickname</label>

                                    <input type="text" class="form-control" name="user.nickname" id="field-1"
                                           placeholder="">
                                </div>

                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="field-2" class="control-label">mailbox</label>

                                    <input type="text" class="form-control" name="user.email" id="field-2"
                                           placeholder="">
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="field-3" class="control-label">password</label>

                                    <input type="text" class="form-control" name="user.password" id="field-3"
                                           placeholder="不修改请留空">
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="field-4" class="control-label">port</label>

                                    <input type="text" class="form-control" name="user.port" id="field-4"
                                           placeholder="">
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="field-5" class="control-label">SS connection password</label>

                                    <input type="text" class="form-control" name="user.sspwd" id="field-5" value=""
                                           placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="field-6" class="control-label">User status enable/disable<</label>

                                    <select name="user.enable" id="field-6" class="form-control">
                                        <option value="0">Disable</option>
                                        <option value="1">Enable</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="field-7" class="control-label">Account Level</label>
                                    <select name="user.plan" id="field-7" class="form-control">
                                        <loop variable="$planList" key="$key" value="$plan">
                                            <option value="{$key}">{$plan}</option>
                                        </loop>
                                    </select>
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="field-8" class="control-label">Invitation code</label>

                                    <input type="text" class="form-control" name="user.invite_num" id="field-8"
                                           value="0" placeholder="0 个">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="field-9" class="control-label">Left flow (GB)</label>

                                    <input type="text" class="form-control" name="user.transfer" id="field-9" value=""
                                           placeholder="100 GB">
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="field-10" class="control-label">Used flow (GB)</label>

                                    <input type="text" class="form-control" name="user.flow_down" id="field-10" value=""
                                           placeholder="单位/GB">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="field-11" class="control-label">Renewal time</label>

                                    <input type="text" class="form-control" name="user.payTime" id="field-11" value=""
                                           placeholder="">
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="field-12" class="control-label">Expire date</label>

                                    <input type="text" class="form-control" name="user.expireTime" id="field-12"
                                           value="" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="field-13" class="control-label">User rights</label>
                                    <select name="user.isAdmin" id="field-13" class="form-control">
                                        <option value="0">User</option>
                                        <option value="1">Administrator</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-info">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    var modal_default_body = jQuery('#modal-6 .modal-body').html();
    jQuery(document).ready(function($) {

        getList();

        $("form#form1").validate({
            rules: {
                'user.email': "required",
                'user.port': "required",
                'user.sspwd': "required",
                'user.invite_num': "required",
                'user.transfer': "required"
            },
            messages: {
                'user.email': "E-mail must be filled",
                'user.port': "Ports must be filled",
                'user.sspwd': "SS connection password must be filled",
                'user.invite_num': "Invite the number of code must be filled",
                'user.transfer': "The total flow must be filled"
            },
            errorElement: 'span',
            errorClass: 'validate-has-error',
            highlight: function (element) {
                $(element).closest('.form-group').addClass('validate-has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('validate-has-error');
            },
            errorPlacement: function (error, element)
            {
                if(element.closest('.has-switch').length)
                {
                    error.insertAfter(element.closest('.has-switch'));
                }
                else {
                    if(element.parent('.checkbox, .radio').length || element.parent('.input-group').length)
                    {
                        error.insertAfter(element.parent());
                    }
                    else
                    {
                        error.insertAfter(element);
                    }
                }
            },
            submitHandler: function(form) {
                $.ajax({
                    url: form.action,
                    method: "POST",
                    dataType: "json",
                    data: $(form).serialize(),
                    success: function(result){
                        if(result.code != 200) {
                            showToastr(result.message, 0, 3000, 'system error');
                            return;
                        }
                        if(result.data.error == 0) {
                            changeTable(result.data.user);
                        }
                        showToastr(result.data.message, 0);
                        jQuery('#modal-6').modal('hide');
                    },
                    error: function(Xhr){
                        showToastr("An unknown error occurred, please try again", 0);
                    }
                });
            }
        });
    });

    function userRemove(userId) {
        $.ajax({
            url: "/admin/user/delete.json",
            method: "POST",
            dataType: "json",
            data: {userId: userId},
            success: function(result){
                if(result.code != 200){
                    showToastr(result.message, 0, 3000, 'system error');
                    return;
                }
                if(result.data.error == 0) {
                    $("#user-" + userId).remove();
                }
                showToastr(result.data.message, 0);
            },
            error: function(Xhr){
                showToastr("An unknown error occurred, please try again", 0);
            }
        });
    }
    function userModify(userId) {
        $("#modal-6 .modal-body").html(modal_default_body);
        reset(false);
        $.ajax({
            url: "/admin/user/query.json",
            method: "POST",
            dataType: "json",
            data: {uid: userId},
            success: function(result){
                if(result.code != 200){
                    jQuery('#modal-6').modal('hide');
                    showToastr(result.message, 0, 3000, 'system error');
                    return;
                }

                if(result.data.error != 1 && result.data.user != null) {
                    var user = result.data.user;
                    $("input[name='user.uid']").val(user.uid);
                    $("input[name='user.nickname']").val(user.nickname);
                    $("input[name='user.email']").val(user.email);
                    $("input[name='user.password']").val('');
                    $("input[name='user.port']").val(user.port);
                    $("input[name='user.sspwd']").val(user.sspwd);
                    $("select[name='user.plan']").val(user.plan);
                    $("input[name='user.invite_num']").val(user.invite_num);
                    $("input[name='user.transfer']").val(user.transfer);
                    $("input[name='user.flow_down']").val(user.flow_down);
                    $("select[name='user.enable']").val(user.enable);
                    $("input[name='user.payTime']").val(user.payTime);
                    $("input[name='user.expireTime']").val(user.expireTime);
                    $("#field-13").val(result.data.admin);
                    jQuery('#modal-6 .modal-title').html('Modify user information');
                    reset(true);
                }
            },
            error: function(Xhr){
                showToastr("An unknown error occurred, please try again", 0);
            }
        });
        jQuery('#modal-6').modal('show', {backdrop: 'static'});
    }
    function changeTable(data) {
        var tid = $("tr#user-" + data.uid);
        var newData = "<td>" + data.port + "</td>";
        newData += "<td>"  + data.nickname + "</td>";
        newData += "<td>" + data.email + "</td>";
        newData += "<td>" + data.plan + "</td>";
        newData += "<td>" + data.transfer + "</td>";
        newData += "<td>" + data.expireTime + "</td>";
        newData += "<td>" + '<a class="btn btn-info btn-sm" href="javascript:;" onclick="userModify('+data.uid+');">Edit</a>' + '<a class="btn btn-danger btn-sm" href="javascript:;" onclick="userRemove('+data.uid+');">Delete</a>' + "</td>";
        $("tr#node-" + data.id).html(newData);

    }
    function getList(page) {
        if(page == null)
            page = 0;
        $.ajax({
            url: "/admin/user/GetList.json",
            method: "GET",
            dataType: "json",
            data: {'page': page},
            success: function(result) {
                if(result.code != 200) {
                    showToastr(result.message, 0, 3000, 'system error');
                    return;
                }
                if(result.data.data.length >0) {
                    var data = result.data;
                    var table = $("table tbody");
                    table.empty();
                    for(var i=0; i<data.data.length; ++i) {
                        var user = data.data[i];

                        var newData = '<tr id="user-'+user.uid+'">';
                        newData += '<td>'+user.port+'</td>';
                        newData += '<td>'+user.nickname+'</td>';
                        newData += '<td>'+user.email+'</td>';
                        newData += '<td>'+ planName[user.plan] +'</td>';
                        newData += '<td>'+ transferAuthShow(parseInt(user.flow_up,10) + parseInt(user.flow_down,10)) + '/' + transferAuthShow(user.transfer) +'</td>';
                        newData += '<td>'+getTime(user.expireTime)+'</td>';
                        newData += '<td>'+'<a class="btn btn-info btn-sm" href="javascript:;" onclick="userModify('+user.uid+');">Edit</a>' + '<a class="btn btn-danger btn-sm" href="javascript:;" onclick="userRemove('+user.uid+');">Delete</a>' +'</td>';
                        newData += '</tr>';
                        table.append(newData);
                    }
                    $("#dataTables_info").html("display "+ (data.currentPage-1)*data.pageSize +" - " + (data.currentPage)*data.pageSize + " Pieces of data, a total of "+data.totalPage+" page");
                    createPageNav(data.totalPage, data.currentPage);
                }
            }
        });
    }
    function createPageNav(totalPage, currentPage) {
        var pageNav = '<li class="paginate_button previous ' + (currentPage==1?'disabled':'') + '" tabindex="0"><a href="javascript:;" onclick="getList('+(currentPage-1)+')">Previous</a></li>';
        if(totalPage - currentPage > 3) {
            pageNav += '<li class="paginate_button " tabindex="0"><a href="javascript:;" onclick="getList('+(currentPage-1)+')">'+(currentPage-1)+'</a></li>';
            pageNav += '<li class="paginate_button " tabindex="0"><a href="javascript:;" onclick="getList('+(currentPage+1)+')">'+(currentPage+1)+'</a></li>';
            pageNav += '<li class="paginate_button " tabindex="0"><a href="javascript:;" onclick="getList('+(currentPage+2)+')">'+(currentPage+2)+'</a></li>';
            pageNav += '<li class="paginate_button " tabindex="0"><a href="javascript:;" onclick="getList('+(currentPage+3)+')">'+(currentPage+3)+'</a></li>';
            pageNav += '<li class="paginate_button disabled" tabindex="0"><a href="javascript:;">...</a></li>';
            pageNav += '<li class="paginate_button " tabindex="0"><a href="javascript:;" onclick="getList('+totalPage+')">'+totalPage+'</a></li>';
        } else if(totalPage > 2) {
            pageNav += '<li class="paginate_button " tabindex="0"><a href="javascript:;" onclick="getList(1)">1</a></li>';
            pageNav += '<li class="paginate_button " tabindex="0"><a href="javascript:;" onclick="getList(2)">2</a></li>';
            pageNav += '<li class="paginate_button " tabindex="0"><a href="javascript:;" onclick="getList('+totalPage+')">'+totalPage+'</a></li>';
        }
        pageNav += '<li class="paginate_button next ' + (currentPage==totalPage?'disabled':'') + '" tabindex="0"><a href="javascript:;" onclick="getList('+(currentPage+1)+')">Next Page</a></li>';
        $(".pagination").html(pageNav);
    }
    function getTime(/** timestamp=0 **/) {
        var ts = arguments[0] || 0;
        var t,y,m,d,h,i,s;
        t = ts ? new Date(ts*1000) : new Date();
        y = t.getFullYear();
        m = t.getMonth()+1;
        d = t.getDate();
        h = t.getHours();
        i = t.getMinutes();
        s = t.getSeconds();
        return y+'-'+(m<10?'0'+m:m)+'-'+(d<10?'0'+d:d)+' '+(h<10?'0'+h:h)+':'+(i<10?'0'+i:i)+':'+(s<10?'0'+s:s);
    }
    function transferAuthShow(flow) {
        var str = "";
        if (flow > 1073741824) {
            str = (flow / 1073741824).toFixed(2) + " GB";
        } else if(flow > 1048576 && flow < 1073741824) {
            str = (flow / 1048576).toFixed(2) + " MB";
        } else if(flow > 1024 && flow < 1048576) {
            str = (flow / 1024).toFixed(2) + " KB";
        } else {
            str = '0 KB';
        }
        return str;
    }

    var planName = {
    <php>
    $i=0;
    foreach($planList as $key=>$val) {
        $i++;
        $lev = $key . ':"' . $val . '"';
        if($i < count($planList)) {
            $lev.=',';
        }
        echo $lev;
    }
    </php>
    };
</script>
<import template="/admin/_footer" />
