<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<base href="{BASE_URL}"/>
	<title>Tutorial</title>
	<link rel="stylesheet" href="{RESOURCE}/help/css/page.css">
	<style>h3{display:block;font-size:1em;-webkit-margin-before:1em;-webkit-margin-after:1em;-webkit-margin-start:0;-webkit-margin-end:0;font-weight:bold}a{color:#666;text-shadow:0 0 5px #fff}a:hover{color:#fff;text-shadow:0 0 5px #000}.section a{color:#FFF;text-shadow:0 0 5px #666;text-decoration:none}.section a:hover{color:#FFF;text-shadow:0 0 5px #000;text-decoration:none}.section{text-align:center;font:50px "Microsoft Yahei";color:#fff}</style>
</head>

<body>
<div id="page">
	<div class="section bg1">
		<h3>Tutorial</h3>
		<p>Shadowsocks Guide</p>
	</div>
	<div class="section bg2">
		<h3>Please download the client<br/><br/></h3>
		<a href="http://h.mloli.com/shadowsocks/" target="_blank">Windows</a>&nbsp;|&nbsp;<a href="http://h.mloli.com/shadowsocks/" target="_blank">Android</a>&nbsp;|&nbsp;<a href="http://h.mloli.com/shadowsocks/" target="_blank">Other</a>
	</div>
	<div class="section">
		<h5>Then you run the downloadable client<br/>There will be a paper airplane icon on the taskbar. legend:</h5>
		<h3><img src="{RESOURCE}/help/images/pic1.png"/></h3>
	</div>
	<div class="section">
		<h3>Right-click the icon can be set<br/>Open Server List page, generate two-dimensional code<br/><img src="{RESOURCE}/help/images/pic4.gif"/></h3>
	</div>
	<div class="section">
		<h3>Next, check the [Enable System Agent] and<br/>Click [Update PAC from GFWlist] and the like Sao moment<br/><img src="{RESOURCE}/help/images/pic5.png"/></h3>
	</div>
	<div class="section">
		<h3>carry on... <br/><br/>When prompted instructions to update the PAC successful<br/></h3>
	</div>
	<div class="section">
		<h3>Go Sao years, you can fly<br/><img src="{RESOURCE}/help/images/14.png"/></h3>
	</div>
	<div class="section bg3">
		<h3>Congratulations on your sucess, you can find more detailed tutorial<br/>
			please <a href="https://www.google.com/#newwindow=1&q=shadowsocks+%E4%BD%BF%E7%94%A8" title="伸手党自重" target="_blank">click me&gt;&gt;</a>
		</h3>
		<br/>
		<h6>Sincerely</h6>
	</div>
</div>
<div id="sendya">
	<p><a href="https://loacg.com/" rel="nofollow" title="这是一个神奇的地方">Love to.. &copy; 幻想乡ICP备88888888号</a></p>
</div>
<script src="//static-2.loacg.com/open/static/javascript/jQuery/jquery.min.js"></script>
<script src="{RESOURCE}/help/js/page.min.js"></script>
<script>
	$(function(){$('#page').fullpage({sectionsColor:['#aaa','#4BBFC3','#7BAABE','#5f8721','#7cb128','#2c78b2','#093659','#34116d','#6a4c9d','#f90'],'navigation':true,'resize':true,'navigationPosition':'bottom','navigationColor':'#FFF',loopBottom:true,continuousVertical:true});});
</script>
</body>
</html>