<import template="/panel/_head" />
<body class="page-body invite-page">
<style>.row {margin-left: 0;margin-right: 0;}</style>
<div class="invite-container">

    <div class="row">
        <div class="col-sm-12">
            <div class="row center">
                <h1>Terms of Service</h1>
                <h5>{SITE_NAME} User Agreement, hereinafter referred to as the site.</h5>
            </div>
            <div style="font-size:1.4em;">
                <h2>    privacy</h2>
                <p>
                <ul>
                    <li>When users need to provide registered mail, and password, and make their own custody. Mailbox for the user's unique credentials.</li>
                    <li>The site will be stored encrypted user passwords, try to ensure data security, but does not guarantee the absolute security of such information.</li>
                </ul>
                </p>

                <h2>Terms of use</h2>
                <p>
                <ul>
                    <li>Prohibit the use of any illegal service station malicious activity.</li>
                    <li>Any node, the node must follow the relevant laws and the relevant national laws of China.</li>
                    <li>Prohibit abuse services provided by this site.</li>
                    <li>For free users, we reserve the right to delete accounts without notice.</li>
                    <li>Any user terms of use violations, we will remove the offending account and forfeiture of the right to use the site service.</li>
                </ul>
                </p>

                <h2>other</h2>
                <p>
                <ul>
                    <li>Only site registered for use in humans and cats.</li>
                    <li>When users need to comply with the latest update TOS.</li>
                </ul>
                </p>
            </div>
            <div class="row center">
                <h4><a href="javascript:;" class="btn btn-black btn-icon" onclick="history.go(-1);"><span>&nbsp;&nbsp;&nbsp;return&nbsp;&nbsp;&nbsp;&nbsp;</span><i class="fa-mail-reply-all"></i></a></h4>
            </div>
        </div>
    </div>
</div>
<import template="/panel/_footer" />